{% extends "tracker/base.html" %}

{% block content %}

<div class="card" style="max-width:700px;">

    <h2 style="margin-bottom:20px;">
        Create New Project
    </h2>
    {% if errors %}

<div style="
background:#7f1d1d;
color:white;
padding:15px;
border-radius:10px;
margin-bottom:20px;
">

    {% for field, messages in errors.items %}

        {% for message in messages %}

            <p style="margin:0 0 8px 0;">
                {{ message }}
            </p>

        {% endfor %}

    {% endfor %}

</div>

{% endif %}

    <form method="POST">

        {% csrf_token %}

        <label>Project Title</label>

        <input
            type="text"
            name="title"
            value="{{ title }}"
            required
        >

        <label>Description</label>

        <textarea
            name="description"
            rows="5"
            required
        >{{ description }}</textarea>

        <button type="submit">
            Create Project
        </button>

    </form>

</div>

{% endblock %}
