{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}FlowBoard{% endblock %}</title>

    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

<div class="dashboard-layout">

    <aside class="sidebar">

        <h2 class="logo">
            FlowBoard
        </h2>

        <nav>

            {% block sidebar %}

            {% endblock %}

        </nav>

    </aside>

    <div class="dashboard-main">

        <header class="navbar">

            <h3>

                {% block page_title %}

                Dashboard

                {% endblock %}

            </h3>

            <form action="{% url 'logout' %}" method="post">

                {% csrf_token %}

                <button class="logout-btn">

                    Logout

                </button>

            </form>

        </header>

        <main class="content">

            {% block content %}

            {% endblock %}

        </main>

    </div>

</div>

<script src="{% static 'js/main.js' %}"></script>

</body>

</html>