{% extends "tracker/base.html" %}

{% block content %}

<div class="card" style="max-width:700px;">

    <h2 style="margin-bottom:20px;">
        Edit Task
    </h2>
{% if errors %}

<div style="
background:#7f1d1d;
color:white;
padding:15px;
border-radius:10px;
margin-bottom:20px;
">

    {% for field, messages in errors.items %}

        {% for message in messages %}

            <p>{{ message }}</p>

        {% endfor %}

    {% endfor %}

</div>

{% endif %}
    <form method="POST">

        {% csrf_token %}

        <label>Task Title</label>

        <input
            type="text"
            name="title"
            value="{{ task.title }}"
            required
        >

        <label>Description</label>

        <textarea
            name="description"
            rows="5"
            required
        >{{ task.description }}</textarea>

        <label>Priority</label>

        <select name="priority">

            <option value="Low"
                {% if task.priority == 'Low' %}selected{% endif %}>
                Low
            </option>

            <option value="Medium"
                {% if task.priority == 'Medium' %}selected{% endif %}>
                Medium
            </option>

            <option value="High"
                {% if task.priority == 'High' %}selected{% endif %}>
                High
            </option>

        </select>

        <label>Status</label>

        <select name="status">

            <option value="Pending"
                {% if task.status == 'Pending' %}selected{% endif %}>
                Pending
            </option>

            <option value="In Progress"
                {% if task.status == 'In Progress' %}selected{% endif %}>
                In Progress
            </option>

            <option value="Completed"
                {% if task.status == 'Completed' %}selected{% endif %}>
                Completed
            </option>

        </select>

        <label>Deadline</label>

        <input
            type="date"
            name="deadline"
            value="{{ task.deadline|date:'Y-m-d' }}"
        >
        <label>Assign To</label>

<select name="assigned_to" required>

    {% for employee in employees %}

        <option
            value="{{ employee.id }}"
            {% if task.assigned_to == employee %}
                selected
            {% endif %}
        >

            {{ employee.username }}

        </option>

    {% endfor %}

</select>

        <button type="submit">
            Save Changes
        </button>

    </form>

</div>

{% endblock %}