{% extends 'tracker/base.html' %}
{% load static %}

{% block title %}FlowBoard{% endblock %}

{% block content %}

<div class="landing-page">

    <div class="hero">

        <div class="hero-logo">
            <i class="fa-solid fa-layer-group"></i>
        </div>

        <h1>FlowBoard</h1>

        <p>
            A modern Project & Task Management Platform
            for teams, managers and developers.
        </p>

        <a href="{% url 'login' %}" class="hero-btn">
            Login
        </a>

    </div>

</div>

{% endblock %}